.page-container {
    background: lightgray;
}

footer {
    position: absolute;
    bottom:  0vh;
    width: 100%;
    background: lightgray;
}

    .clickable-row,
.clickable-row-not-last,
.clickable-row-not-last-two {
    cursor: pointer;
}
